.header {
  text-align: center;
  margin: 20px 25px 25px;
  height: 70px;

  display: flex;
  justify-content: space-between;

  position: relative;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .option {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all 0.4s;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    outline: none;
    font-weight: 600;
    &,
    &:visited,
    &:link {
      color: #f7fcfe;
      outline: none;
    }
    &:hover {
      transform: translateY(-1px) scale(1.08);
      color: #fb7373;
      font-weight: 800;
    }
    &:active {
      transform: translateY(0);
      color: #eeeeff;
      outline: none;
    }
  }
  .icon {
    height: 18px;
    padding: 0px 7px;
    padding-left: 0;
  }
}
