.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  position: relative;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;

    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .option {
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.4s;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    outline: none;
    font-weight: 600;

    &:visited,
    &:link {
      color: grey;
      outline: none;
    }
    &:hover {
      transform: translateY(-5px) scale(1.05);
      color: black;
    }
    &:active {
      transform: translateY(0);
      color: black;
      outline: none;
    }
  }
}
