.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo {
    height: 100%;
    width: 70px;
    padding-left: 25px;
  }
}
.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: red;
  .option {
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.4s;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
    &:visited {
      color: black;
    }
    &:hover {
      transform: translateY(-5px) scale(1.05);
    }
    &:active {
      transform: translateY(0);
    }
  }
}
